<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <if condition='isDefined("log.dir")'>
        <then>

            <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${log.dir:-.}/iptv-proxy.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${log.dir:-.}/iptv-proxy.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
                    <maxHistory>30</maxHistory>
                </rollingPolicy>

                <encoder>
                    <pattern>%d{dd.MM.yyyy HH:mm:ss} [%-5level] :: %c{0} :: %m%n%ex</pattern>
                </encoder>
            </appender>

            <logger name="com.kvaster" additivity="false">
                <level value="${log.level:-info}" />
                <appender-ref ref="FILE" />
            </logger>

            <root level="error">
                <appender-ref ref="FILE" />
            </root>

        </then>
        <else>

            <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <param name="target" value="System.out" />
                <encoder>
                    <pattern>%d{dd.MM.yyyy HH:mm:ss} [%-5level] :: %c{0} :: %m%n%ex</pattern>
                    <charset>UTF-8</charset>
                </encoder>
            </appender>

            <logger name="com.kvaster" additivity="false">
                <level value="${log.level:-info}" />
                <appender-ref ref="CONSOLE" />
            </logger>

            <root level="error">
                <appender-ref ref="CONSOLE" />
            </root>

        </else>
    </if>

</configuration>
